html {
	background-color: #4C0000;
}
body {
    text-align: center;

}
canvas {
	padding: 15px 50px 15px 50px;
	border: 5px solid black;
}
h1 {
	font-family: Verdana;
	font-size: 40px;
	margin: 0 0 20px 0;
}
h4 {
	font-size: 30px;
	margin: 0;
}
